@import url('https://fonts.googleapis.com/css?family=Comic+Relief&display=swap'
);

body{
font-family: Comic Relief, serif;
background: linear-gradient(145deg, #08a20d 0%, #ff7300 100%);
}

.bg-white{
	background: linear-gradient(90deg, #ff7f00 0%, #1e92ff 100%) !important;
}
p {
    color: aquamarine;
}

.col-lg-12.sidebar.my-4>p>a{
	color: #ffff00;
	text-decoration-style: solid;
}

.nav-link{
    color: aqua;
}
.navbar-nav .nav-link.active{
    color: rgb(13, 46, 120);
}
.navbar-brand img{
	align-items: center;
    width: 50px;
}
.navbar-toggler{
    background-color: #08a20d;
	color: #fa7300;
	
}

.carousel-indicators [data-bs-target]{
background-color: #5eff00;
}

.slide-head{
	color: #211bd3;
	font-size: larger;
	
	
}

.sidebar{
    color: aquamarine;
    background: linear-gradient(290deg, #038607 0%, #fa7000 100%);
}


.card-body{
    background: linear-gradient(290deg, #038607 0%, #fa7000 100%);
	text-align: center;
}

.card a{
    text-decoration: none;
    color: rgb(187, 224, 251);
}
.btn-primary{
background-color: #ff75044a;
border-color: aqua;
}

.btn:hover{
	background-color: #fa7000;
	border-color: #08a20d;
}



.slide-text,
.footer-text
 {
color: aquamarine;

}

footer,
.btn-outline-primary{
    background:linear-gradient(270deg, #fafafa 0%, #2b2929 100%);
}
.media-links{
   display: flex;
   justify-content: center;
   align-items: center;
}

.call-anim{
    animation: myAnim 8s linear 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
